<!DOCTYPE html>
<html>

<head>
    <title>Asset</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <% if (message) { %>
        <div id="message">
          <%= message %>
        </div>
      <% } %>
    <nav>
        <a href="/">Home</a>
    </nav>
    <main>
        <h1>Asset <%= person?.name %></h1>
        <section id="asset">
            <a href="/asset/new">New Asset</a>
            <table id="asset-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% assets.forEach(function(asset) { %>
                        <tr>
                            <td class="name"><%= asset.name %></td>
                            <td class="price"></td>
                            <td>
                                <a href="/asset/<%= asset.id %>/edit">Edit</a>
                                <a href="/asset/<%= asset.id %>/delete">Delete</a>
                            </td>
                        </tr>
                        <% }); %>
                        <tr>
                            <td>Total Asset</td>
                            <td id="total"></td>
                        </tr>
                </tbody>
            </table>
        </section>
    </main>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const message = document.querySelector('#message');
            setTimeout(() => {
                message.remove();
                const currentUrl = window.location.href;
                const urlWithoutParams = currentUrl.split('?')[0];
                history.replaceState({}, '', urlWithoutParams);
            }, 3000);
        });
        function getPrice(){
            const nameElement = document.getElementsByClassName('name');
            let total = 0;
            
            for (let i=0; i<nameElement.length; i++){
                const productName = nameElement[i].innerHTML;
                const priceElement = document.getElementsByClassName('price')[i];
                fetch('https://dummyjson.com/products/search?q='+productName)
                    .then(res => res.json())
                    .then(data => {
                        const price = data?.products[0]?.price || 0
                        priceElement.innerHTML = price
                        total += price
                        const totalElement = document.getElementById('total');
                        totalElement.innerHTML = total
                    });
            }
        }
        getPrice()
    </script>
</body>

</html>