<!DOCTYPE html>
<html>

<head>
  <title>Family</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <nav>
    <h1>Family</h1>
  </nav>
  <main>
    <section id="people">
      <h2>People</h2>
      <table id="people-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Parent</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% people.forEach(function(person) { %>
            <tr>
                <td>
                    <%= person.id %>
                </td>
                <td>
                    <%= person.name %>
                </td>
                <td>
                  <%= person.gender %>
              </td>
              <td>
                <%= person.parent %>
            </td>
            <td>
              <a href="<%= person.id %>">Asset</a>
          </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </section>
  </main>
</body>

</html>