<!DOCTYPE html>
<html>

<head>
  <title>Family</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <% if (message) { %>
    <div id="message">
      <%= message %>
    </div>
  <% } %>

  <nav>
    <a href="/">Home</a>
  </nav>
  <main>
    <section id="people">
      <h2>People</h2>
      <a href="new">New Person</a>
      <table id="people-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Parent</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% people.forEach(function(person) { %>
            <tr>
              <td><%= person.id %></td>
              <td><%= person.name %></td>
              <% if(person.gender == "M") { %>
                <td>Male</td>
              <% }else{ %>
                <td>Female</td>
              <% } %>
              <td><%= person.parent %></td>
              <td>
                <a href="<%= person.id %>">Asset</a>
                <a href="<%= person.id %>/edit">Edit</a>
                <a href="/people/<%= person.id %>/delete">Delete</a>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
    </section>
  </main>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const message = document.querySelector('#message');
      setTimeout(() => {
        message.remove();
        const currentUrl = window.location.href;
        const urlWithoutParams = currentUrl.split('?')[0];
        history.replaceState({}, '', urlWithoutParams);
      }, 3000);
    });
  </script>
</body>

</html>